<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons routerLink="/home" routerDirection="root" slot="start">
      <ion-button>
        <ion-icon
          class="header-back-icon"
          name="chevron-back-outline"
        ></ion-icon>
        <ion-text class="header-back-text"> Inscribir cuenta </ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="content-container" scroll-y="false">
  <ion-list class="list-container2" lines="none">
    <ion-item class="to-account" no-lines>
      <ion-select
        [(ngModel)]="financialInstitution"
        style="--placeholder-color: #212121"
        placeholder="Entidad bancaria"
      >
        <ion-select-option [value]="item" *ngFor="let item of bankList"
          >{{item}}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-list>

  <div style="margin-top: 10%">
    <ion-text class="transfer-amount-title"
      >¿Conoces el numero de cuenta?</ion-text
    >

    <ion-item class="input-padding">
      <ion-label class="input-alias" floating>Numero de Cuenta</ion-label>
      <ion-input name="account" [(ngModel)]="account"> </ion-input>
    </ion-item>

    <ion-item *ngIf="account" class="input-padding">
      <ion-label class="input-alias" floating>Identificacion</ion-label>
      <ion-input name="accountHolderId" [(ngModel)]="accountHolderId"> </ion-input>
    </ion-item>
  </div>

  <!--<img
    class="card__front-logo"
    src="../../assets/img/create-account-icon.svg"
  /> -->

  <div class="account-type-container">
    <ion-text class="account-type-title"
      >¿Que tipo de cuenta es tu cuenta destino?</ion-text
    >
  </div>

  <div class="servicesPadding">
    <button
      name="ahorros"
      class="transfer-buttons"
      (click)="accountClick('Ahorros')"
    >
      <ion-icon
        class="transfer-icon"
        slot="icon-only"
        src="../../assets/img/transfer.svg"
      ></ion-icon>
      <ion-text class="accounts-titles">
        <br />
        Ahorros
      </ion-text>
    </button>

    <button class="transfer-buttons" (click)="accountClick('Corriente')">
      <ion-icon
        class="transfer-icon"
        slot="icon-only"
        src="../../assets/img/transfer.svg"
      ></ion-icon>
      <ion-text class="accounts-titles">
        <br />
        Corriente
      </ion-text>
    </button>
  </div>

  <ion-item class="input-padding">
    <ion-label class="input-alias" floating>Alias</ion-label>
    <ion-input name="alias" [(ngModel)]="alias"> </ion-input>
  </ion-item>

  <ion-list lines="none">
    <ion-item no-lines>
      <ion-select [(ngModel)]="currency" placeholder="Moneda">
        <ion-select-option value="COP">COP</ion-select-option>
        <ion-select-option value="USD">USD</ion-select-option>
        <ion-select-option value="EUR">EUR</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button
    style="--background: #a5f1e9"
    class="create-button"
    (click)="createAccount()"
    routerLink="/home"
    >Crear Cuenta</ion-button
  >
</ion-content>
